:root {
  /* Editor Block Colors & Theme */
  --editorTheme3-blockText: #FFFFFF;
  --editorTheme3-inputColor: #FFFFFF;
  --editorTheme3-inputColor-text: #575E75;
  --editorTheme3-motion-primary: #4C97FF;
  --editorTheme3-motion-secondary: #4280D7;
  --editorTheme3-motion-tertiary: #3373CC;
  --editorTheme3-motion-field-background: #3373CC;
  --editorTheme3-looks-primary: #9966FF;
  --editorTheme3-looks-secondary: #855CD6;
  --editorTheme3-looks-tertiary: #774DCB;
  --editorTheme3-looks-field-background: #774DCB;
  --editorTheme3-sounds-primary: #CF63CF;
  --editorTheme3-sounds-secondary: #C94FC9;
  --editorTheme3-sounds-tertiary: #BD42BD;
  --editorTheme3-sounds-field-background: #BD42BD;
  --editorTheme3-control-primary: #FFAB19;
  --editorTheme3-control-secondary: #EC9C13;
  --editorTheme3-control-tertiary: #CF8B17;
  --editorTheme3-control-field-background: #CF8B17;
  --editorTheme3-event-primary: #FFBF00;
  --editorTheme3-event-secondary: #E6AC00;
  --editorTheme3-event-tertiary: #CC9900;
  --editorTheme3-event-field-background: #CC9900;
  --editorTheme3-sensing-primary: #5CB1D6;
  --editorTheme3-sensing-secondary: #47A8D1;
  --editorTheme3-sensing-tertiary: #2E8EB8;
  --editorTheme3-sensing-field-background: #2E8EB8;
  --editorTheme3-pen-primary: #0fBD8C;
  --editorTheme3-pen-secondary: #0DA57A;
  --editorTheme3-pen-tertiary: #0B8E69;
  --editorTheme3-pen-field-background: #0B8E69;
  --editorTheme3-operators-primary: #59C059;
  --editorTheme3-operators-secondary: #46B946;
  --editorTheme3-operators-tertiary: #389438;
  --editorTheme3-operators-field-background: #389438;
  --editorTheme3-data-primary: #FF8C1A;
  --editorTheme3-data-secondary: #FF8000;
  --editorTheme3-data-tertiary: #DB6E00;
  --editorTheme3-data-field-background: #DB6E00;
  --editorTheme3-data_lists-primary: #FF661A;
  --editorTheme3-data_lists-secondary: #FF5500;
  --editorTheme3-data_lists-tertiary: #E64D00;
  --editorTheme3-data_lists-field-background: #E64D00;
  --editorTheme3-more-primary: #FF6680;
  --editorTheme3-more-secondary: #FF4D6A;
  --editorTheme3-more-tertiary: #FF3355;
  --editorTheme3-more-field-background: #FF3355;
  --editorTheme3-addons-primary: #29beb8;
  --editorTheme3-addons-secondary: #3aa8a4;
  --editorTheme3-addons-tertiary: #3aa8a4;
  --editorTheme3-addons-field-background: #3aa8a4;

  /* Editor Behavior Settings */
  --dragDrop-useHdUpload: false;
  --reorderCustomInputs-InsertInputsAfter: false;
  --blockCherryPicking-invertDrag: false;
  --editorCommentPreviews-hoverView: true;
  --editorCommentPreviews-hoverViewBlock: true;
  --editorCommentPreviews-hoverViewProcedure: true;
  --editorCommentPreviews-delay: short;
  --editorCommentPreviews-followMouse: true;
  --editorCommentPreviews-reduceTransparency: false;
  --editorCommentPreviews-reduceAnimation: false;
  --editorDevtools-enableCleanUpPlus: true;
  --editorDevtools-enablePasteBlocksAtMouse: true;
  --middleClickPopup-popup_scale: 48;
  --middleClickPopup-popup_width: 16;
  --middleClickPopup-popup_max_height: 40;
  --onionSkinning-default: false;
  --onionSkinning-previous: 1;
  --onionSkinning-next: 0;
  --onionSkinning-opacity: 25;
  --onionSkinning-opacityStep: 10;
  --onionSkinning-layering: front;
  --onionSkinning-mode: merge;
  --onionSkinning-beforeTint: #FF0000;
  --onionSkinning-afterTint: #0000FF;
  --blockSwitching-motion: true;
  --blockSwitching-looks: true;
  --blockSwitching-sound: true;
  --blockSwitching-event: true;
  --blockSwitching-control: true;
  --blockSwitching-operator: true;
  --blockSwitching-sensing: true;
  --blockSwitching-data: true;
  --blockSwitching-extension: true;
  --blockSwitching-sa: true;
  --blockSwitching-customargs: true;
  --blockSwitching-customargsmode: defOnly;
  --blockSwitching-noop: true;
}
